<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
    <title>{% block title %}Home
    {% endblock %}</title>
  </head>
  <body class="container-fluid" style="min-height: 100%;background-color: #F8F8FF;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #C1CDCD">
      <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Realtime">RealTime Data</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/LTE">Charts</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="content-data">
      <div class="container">
        <center><h1 class="display-4">Home MQTT Broker</h1></center>
        <div class="col-sm-12">
          <div class="container-fluid">
            {% block content %}
            {% endblock %}
          </div>  
        </div>
      </div>  
    </div>   
    <center><hr class="container" style="width: 50%;"></center>
    <footer class="main-footer" style="width: 100%;height: 30px;bottom: 0;position: absolute;">
      <div class="row">
        <div class="container-fluid">
           <a href="http://fet-hue.edu.vn/">Khoa Dien Tu-Truyen Thong</a>|<a href="http://husc.edu.vn/">Dai Hoc Khoa Hoc</a>|<a href="">DHU</a>    
        </div>
      </div>   
    </footer> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
  </body>
</html>